{% extends "base.html" %}
{% block content %}
<h2>
    <center>{{body_header}}</center>
</h2>
<div class="container">
    <div class="row">
        <div class="col col-lg-2">
            <p> <b>Районы Киева:</b>
                {% for key, value in app['cfg']['districts'].items() %}
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="checkDist{{key}}" name="checkDist" value={{key}} {% if key in filters.districts %} checked {% endif %}>
                    <label class="custom-control-label" for="checkDist{{key}}">{{value}}</label>
                </div>
                {% endfor %}
            </p>
            <p> <b>Количество комнат:</b>
                {% for i in range(1, 10) %}
                <div class="form-check form-check-inline">
                    <input class="form-check-input custom-control-input" type="checkbox" id="checkRoom{{i}}" name="checkRoom" value={{i}} {% if i in filters.rooms_count %} checked {% endif %}>
                    <label class="custom-control-label" for="checkRoom{{i}}">{{i}}</label>
                </div>
                {% endfor %}
            </p>
            <p><b>Цена:</b>
                <input type="text" class="form-control" id="price_min" placeholder="от" {% if filters.price_min %} value={{filters.price_min}} {% endif %} />
                <input type="text" class="form-control" id="price_max" placeholder="до" {% if filters.price_max %} value={{filters.price_max}} {% endif %} />
            </p>
            <div class="form-group">
                <label for="description"><b>Поиск по описанию:</b></label>
                <textarea class="form-control" id="description" rows="4">{% if filters.description %}{{filters.description}} {% endif %}</textarea>
            </div>
            <input type="button" class="btn btn-primary" id="submitFilters" name="submitFilters" value="Submit" />
        </div>
        <div class="col-sm">
            <div class="alert alert-info" role="alert">
            {% if not result_list %}
                Результатов нет.
            {% else %}
                Нашлось: {{count}} объявлений.
            {% endif %}
            </div>
            {% for item in result_list %}
            <table class="table table-bordered">
                <tr>
                    <td>
                        <a href="https://dom.ria.com/ru/{{item['beautiful_url']}}">{{item['title']}}</a>
                        <br>{{ item.district_name }} район
                        | {{ item.rooms_count }} {% if item.rooms_count == 1 %}комната{% else %}комнаты{% endif %}
                        | {{ item.priceArr['3'] }} грн.
                        <br>{{ item.description|safe|truncate(220) }}
                    </td>
                </tr>
            </table>
            {% endfor %}
        </div>
    </div>
</div>
{% if result_list %}
<div class="row align-items-center justify-content-center">
    <div class="btn-group" role="group" aria-label="Pagination">
        {% if page == 0 %}
        <button type="button" class="btn btn-outline-secondary" disabled><<</button>
        {% else %}
        <button type="button" class="btn btn-outline-secondary" onclick="gotoPage({{page - 1}})"><<</button>
        {% endif %}
        <a href="#" class="btn btn-outline-light btn-lg disabled" tabindex="-1" role="button" aria-disabled="true"></a>

        {% for p in pagination %}
        {% if p == '...' %}
        <a href="#" class="btn btn-outline-secondary btn-lg disabled" tabindex="-1" role="button" aria-disabled="true">...</a>
        {% else %}
        <button type="button" class="btn btn-{% if (p - 1) == page %}primary{% else %}outline-secondary{% endif %}" onclick="gotoPage({{p - 1}})">{{p}}</button>
        {% endif %}
        {% endfor %}

        <a href="#" class="btn btn-outline-light btn-lg disabled" tabindex="-1" role="button" aria-disabled="true"></a>
        {% if page + 1 == pages %}
        <button type="button" class="btn btn-outline-secondary" disabled>>></button>
        {% else %}
        <button type="button" class="btn btn-outline-secondary" onclick="gotoPage({{page + 1}})">>></button>
        {% endif %}
    </div>
</div>
{% endif %}
<script type="text/javascript">
$('#submitFilters').click(function() {
    var arrDist = $('input:checkbox[name=checkDist]:checked').map(function() {
        return Number(this.value);
    }).get();
    var arrRoom = $('input:checkbox[name=checkRoom]:checked').map(function() {
        return Number(this.value);
    }).get();
    var price_min = $("#price_min").val();
    var price_max = $("#price_max").val();
    var description = $("#description").val();

    var queryData = {
        'districts': arrDist,
        'rooms_count': arrRoom,
        'price_min': price_min,
        'price_max': price_max,
        'description': description,
        'page': 0,
    };
    var query_string = $.param(queryData, true);
    window.location.href = window.location.pathname + "?" + query_string
});

function gotoPage(page) {
    var filters_ = {{ filters | safe }};
    filters_.page = page;
    var query_string = $.param(filters_, true);
    window.location.href = window.location.pathname + "?" + query_string
}
</script>
<div align="right">Источник: <a href="https://dom.ria.com">dom.ria.com</a></div>
{% endblock %}